html, body, ul, ol, li, h2, h6, h5 {
    padding: 0px;
    margin: 0px;
}
body {
	font-size: 14px;
	color: #333;
	background-color: #f4f4f4;
}
dl, dt, dd {
    margin: 0px;
    padding: 0px;
}
ul li, ol {
    list-style: none;
}

a {
	text-decoration: none;	
}